name: Nix

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Build bebop CLI
        run: nix build .#bebop
      - name: Build host IPC
        run: nix build .#host
      - name: Build spike
        run: nix build .#spike
      - name: Build gem5
        run: nix build .#gem5
